body{
    background-color: black;
}

h1{
    font-family: "Overpass", serif;
    font-size: 45px;   
    list-style: none;
    color: green;
}

header img {
    width: 200px;
    position: absolute;
    margin-top: -300px;
    margin-left: 150px;
}

.enter{
    width: fit-content;
    margin: auto;
}

a{
    text-decoration: none;
}

a div{
    width: 300px;
    height: 250px;
    border: 8px solid green;
    border-radius: 12px;
    text-align: center;
    margin-top: 300px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

a div h1{
    margin: auto;
}